<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>!</h1>
    <p>It looks like you have a book that is now overdue, please return it to the library so others might enjoy it - thanks!</p>
    <br>
  </body>
</html>