<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Howdy <%= @user.first_name %>!</h1>
    <p>You've been granted an account over at the library (like to read much?). Check it out here: <%= link_to root_url %></p>
    <br>
  </body>
</html>