<div class="panel panel-default">
  <table class="table table-hover">
    <thead class="nav nav-tabs">
      <th role="presentation" width="15%">Title</th>
      <th role="presentation" width="15%">Authors</th>
      <th width="30%">Description</th>
      <th>Location</th>
      <th>Status?</th>
    </thead>
    <tbody id="books">
      <%= render @books %>
    </tbody>
  </table>
  <div class="text-center" id="paginator">
    <%= paginate @books %>
  </div>
</div>
