<div>
  <h4>By <%= @object.authors.map(&:name).to_sentence %></h4>
  <span>
    <p class="lead">
      <%= @object.description %>
    </p>
  </span>
</div>
<div class="pull-left">
<%= form_tag(checkout_path, method: 'post') do %>
  <%= submit_tag I18n.t("admin.actions.checkout.submit_button", title: @object.title),
                 class: 'btn btn-info',
                 disabled: @object.checked_out? %>
<% end %>
</div>
