<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to I18n.t('account.log_in'), user_session_path %></li>
  </ul>
</div>
